.App {
  display: grid;
  grid-row-gap: 49px;
  grid-template-rows: 1fr 10fr 1fr;

}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

